@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Raleway);


/* =====RESET===== */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =====My styles===== */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
}
body {
	color: white;
	font-size: 1.1em;
	background-color: #3C3D3F;
	text-align: center;
}
img {
	pointer-events: none;
}

#page {
	max-width: 900px;
  margin: auto;
}

.tabs {
  width: 100%;
  float: left;

  font-family: 'Lato', sans-serif;
	margin-bottom: 3%;
	border-bottom: 2px solid #ccc;
}
.tabs li {
	position: relative;
  float: left;
  width: 24.5%;
  padding: 2% 0;

  border-radius: 5%;
  font-size: 2.5em;
	text-align: center;
	opacity: 0.7;
	transition: all 0.1s ease;
}
.tabs li:hover {
	opacity: 0.9;
	cursor: pointer;
}
.tabs li:active {
	background-color: #747475;
}
.tabs li.active {
	opacity: 1;
	font-weight: 700;
}
.tabs li:before {
	z-index: 100;
	content: "";
	position: absolute;
	top: 30%;
	left: 0;
	width: 0;
	height: 40%;
	border-left: 2px solid #888;
}
.tabs li:first-of-type:before {
	display: none;
}

#content {
	z-index: 10;
	position: relative;
  clear: both;
  height: 100%;
  overflow: hidden;

  font-family: 'Raleway', sans-serif;
}

.tabcontent {
	position: absolute;
	display: block;
	height: 100%;
}

.tabcontent li {
	position: relative;
	width: 22%;
	float: left;

	border-radius: 5%;
	margin: 1.5%;
	padding: 3% 4% 4% 4%;
	opacity: 0.6;
	background-color: #4C4D4F;
	transition: all 0.1s ease;
}
.tabcontent li.on {
  background-color: #808080;
  opacity: 1.0;
}
.tabcontent li:hover {
	opacity: 1;
	cursor: pointer;
}
.tabcontent li:active {
	background-color: #747475;
}
.tabcontent li img {
  width: 100%;
  height: auto;
}
.tabcontent li label {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2%;
}
