@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Raleway);


/* =====RESET===== */
body, html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =====My styles===== */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
}
body {
	height: 100%;
	color: white;
	font-size: 1.1em;
	background-color: #313236;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
img {
	pointer-events: none;
}

#page {
	height: 100%;
	max-width: 900px;
	margin: auto;
	overflow: hidden;
}
#topBar {
	padding: 2%;
}
#logo {
	text-align: left;
	float: left;
	font-size: 1.4em;
}
#currentPage {
	display: none;
	padding-top: 1%;
}

.tabs {
	width: 100%;
	float: left;
	clear: both;

	font-family: 'Lato', sans-serif;
	margin: 1% 0 3% 0;
	border-bottom: 2px solid #ccc;
}
.tabs li {
	position: relative;
	float: left;
	width: 24.5%;
	padding: 2% 0;

	font-size: 2em;
	text-align: center;
	opacity: 0.7;
	transition: all 0.25s ease;
}
.tabs li:hover {
	opacity: 0.9;
	cursor: pointer;
}
.tabs li.active {
	opacity: 1;
	font-weight: 700;
	background-color: #2A2B2E;
}
.tabs li:before {
	z-index: 100;
	content: "";
	position: absolute;
	top: 30%;
	left: 0;
	width: 0;
	height: 40%;
	border-left: 2px solid #888;
}
.tabs li:first-of-type:before {
	display: none;
}

#content {
	z-index: 10;
	position: relative;
	clear: both;
	height: 100%;
	overflow: hidden;
}

.tabcontent {
	position: absolute;
	display: block;
	height: 100%;
}

.tabcontent li {
	display: none;
	position: relative;
	width: 22%;
	float: left;

	margin: 1.5%;
	padding: 3% 4% 4% 4%;
	opacity: 0.6;
	transition: opacity 0.1s ease;
}
.tabcontent li.on, .tabcontent li:active {
	opacity: 1;
	border-radius: 5%;
	background-color: #4C4D4F;
	border: 1px solid #444;
}
.tabcontent li:hover {
	opacity: 1;
	cursor: pointer;
}
.tabcontent li img {
	width: 100%;
	height: auto;
	background-color: #4C4D4F;
	border-radius: 5%;
}
.tabcontent li label {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2%;
}


/* =====Responsive Design===== */

@media only screen and (max-width: 768px) {
	#currentPage {
		display: block;
		font-size: 0.6em;
	}
	.tabs li {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;

		background: no-repeat center bottom;
		-webkit-background-size: auto 90%;
		-moz-background-size: auto 90%;
		-o-background-size: auto 90%;
		background-size: auto 90%;
	}
	#locationsButton {
		background-image: url('img/locations.png');
	}
	#atmosphereButton {
		background-image: url('img/day.png');
	}
	#effectsButton {
		background-image: url('img/effects.png');
	}
	#settingsButton {
		background-image: url('img/settings.png');
	}

	.tabcontent li {
		padding: 5% 6% 6% 6%;
	}
}


@media only screen and (max-width: 480px) {
	.tabcontent li label {
		bottom: 0;
	}
}