a{TEXT-DECORATION:none;}
a:hover{TEXT-DECORATION:underline;}
button{HEIGHT:22px;}
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:0;}
.s1{width:95px;height:15px;}
.s2{width:65px;height:15px;}
.s3{width:30px;height:18px;}
.s4{width:95px;}
.s5{width:300px;height:75px;}
.s6{width:350px;}
.bi1{background-image:url(images/bg1.gif);}
.bc2{}
.v1{vertical-align:top;}
.v2{vertical-align:middle;}
.v3{vertical-align:bottom;}
.h1{text-align:left;}
.h2{text-align:center;}
.h3{text-align:right;}
.p2{padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:20px;}
.fl0{ float:none;}
.fl1{float:left};
.f12{font-size:12px;}
.f13{font-size:13px;}
.f3w{font-size:13px;color:white;}
.f14{
font-size:14px;
font-weight: normal;
}
.fw{font-size:18px;color:white;}
.ih{width:0;height:0;visibility:hidden}
.md1{border-top-width:1px;border-top-style:none;border-right-style:solid;border-bottom-style:none;border-left-style:solid;border-top-color:#1460A7;border-right-color:#1460A7;border-bottom-color:#1460A7;border-left-color:#1460A7;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
.md2{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:none;border-left-style:none;border-top-color:#1460A7;border-right-color:#1460A7;border-bottom-color:#1460A7;border-left-color:#1460A7;}
.md3{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:solid;border-left-style:none;border-top-color:#1460A7;border-right-color:#1460A7;border-bottom-color:#1460A7;border-left-color:#1460A7;}
.md4{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:none;border-left-style:none;border-top-color:#1460A7;border-right-color:#1460A7;border-bottom-color:#1460A7;border-left-color:#1460A7;}
.md5{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:solid;border-bottom-style:solid;}
.md6{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:solid;border-left-style:none;border-top-color:#1460A7;border-right-color:#1460A7;border-bottom-color:#1460A7;border-left-color:#1460A7;}
border-left-style:none;border-top-color:#6B7FAB;border-right-color:#6B7FAB;border-bottom-color:#6B7FAB;border-left-color:#6B7FAB;}
.link1 {
a{color:#1460A7} 
a:link{color:#1460A7}
a:visited{color:#1460A7}
a:hover{color:#1460A7} 
a:active{color:#1460A7} 
}
.f16 {
font-size: 16px;
font-weight: bold;
color: #1460A7;
}
.cs {
font-size: 14px;
color: #0000FF;
cursor: pointer;
}
.cs2 {
cursor: pointer;
}
.cs3 {
font-size: 12px;
color: #ffffff;
cursor: pointer;
}

.selectTable {
	font-size: 12px;
	border-collapse: collapse;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #1460A7;
	border-left-color: #1460A7;
}
.selectTable tr {
	HEIGHT: 22px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #1460A7;
	border-bottom-color: #1460A7;
}
.selectTable tr:hover, 
.selectTable tr.altrow{
	background-color:#1460A7;
}
.selectTable tr.altrow1{
	background-color:#1460A7;
}
.selectTable td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #1460A7;
	border-bottom-color: #1460A7;
	text-align: center;
	vertical-align: bottom;
}
.xiao{ font-size:12px; background:}
.kaicong
{
   cursor:hand;color:#810000; font-size:16px;
}
.kaicong2
{
    cursor:hand;color:#810000; background:CCCCCC; font-size:16px;
}